

{% extends "base/base.html" %}

{% block meta %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- SEO Meta -->
<meta name="description" content="Read Ayah {{ ayah.ayah_number }} from Surah {{ surah.en_name }} with detailed I’rab and explanation.">
<meta name="keywords" content="Quran, I’rab, {{ surah.en_name }}, Ayah {{ ayah.ayah_number }}, Arabic Grammar">

<!-- Open Graph -->
<meta property="og:title" content="Ayah {{ ayah.ayah_number }} | {{ surah.en_name }} | I’rab Al-Mufassal">
<meta property="og:description" content="Read Ayah {{ ayah.ayah_number }} from Surah {{ surah.en_name }}  with detailed I’rab and explanation.">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{{ request.build_absolute_uri }}static/images/og-image.png">

<!-- Twitter/X -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Ayah {{ ayah.ayah_number }} | {{ surah.en_name }} | I’rab Al-Mufassal">
<meta name="twitter:description" content="Read Ayah {{ ayah.ayah_number }} from Surah {{ surah.en_name }} with detailed I’rab and explanation.">
<meta name="twitter:image" content="{{ request.build_absolute_uri }}static/images/og-image.png">
{% endblock %}

{% block title %}{{ surah.en_name }} {{ ayah.ayah_number }} - {{block.super}} {% endblock %}

{% block navbar %}
{% include "base/navbar_surah.html" %}
{% endblock %}

{% block drawers %}
{% include "base/drawer_surah.html" %}
{% endblock %}

{% block content %}
{% load arabic_digits %}
<div class="flex flex-col min-h-screen">
  <!-- Spacer for navbar -->
  <div class="h-16"></div>

  <!-- Main -->
  <main class="flex-1 flex justify-center px-4 py-10">
    <div dir="rtl" class="max-w-3xl w-full leading-loose">

      <!-- Surah Name -->
      <div class="text-center mb-8">
        <h2 class="altarikh-text text-lg font-semibold text-base-content">
          سورة {{ surah.ar_name }}
        </h2>
        <div class="w-24 h-[2px] bg-base-300 mx-auto mt-3 rounded-full"></div>
      </div>

      <!-- Ayah Text -->
      <article>
        <h2 class="UthmaniHafs_text text-4xl font-semibold text-center pt-3 pb-6 mt-10 text-base-content">
          {{ ayah.ayah_text }}
          <span>&#xFD3F;{{ ayah.ayah_number|to_arabic_digits }}&#xFD3E;</span>
        </h2>

        <!-- Ayah Parts -->
        {% for part in ayah.parts.all %}
        <div class="mt-6">
          <p class="altarikh-noto-text text-base-content/90 leading-relaxed relative">
            <span class="altarikh-heading text-lg font-semibold text-base-content mr-2">
              {{ part.part }}:
            </span>
            {{ part.description }}
          </p>
        </div>
        {% endfor %}
      </article>

      <!-- Divider -->
      <div class="w-full h-[2px] bg-base-300 rounded-full my-12 mb-10"></div>
      <!-- Navigation Buttons -->
<div class="flex justify-center gap-4 mt-8">

  
    <!-- Next Ayah -->
  {% if ayah.ayah_number|add:'0' < surah.verses_count %}
  <a href="{% url 'ayah_page' identifier=surah.en_name ayah_number=ayah.ayah_number|add:'1' %}"
     class="btn btn-outline">
     →  Next 
  </a>
  {% endif %}
  
  <!-- Read Full Surah -->
  <a href="{% url 'surah_detail' identifier=surah.en_name %}" class="btn btn-primary">
    Read full surah
  </a>


 
  <!-- Previous Ayah -->
  {% if ayah.ayah_number|add:'0' > 1 %}
  <a href="{% url 'ayah_page' identifier=surah.en_name ayah_number=ayah.ayah_number|add:'-1' %}"
     class="btn btn-outline">
     Previous ←
  </a>
  {% endif %}

</div>





    </div>
  </main>
</div>


{% endblock %}