{% extends "base/base.html" %}

{% block title %}Surah {{surah.en_name}} - 1-{{surah.verses_count}} {{block.super}} {% endblock %}

{% block navbar %}
{% include "base/navbar_surah.html" %}
{% endblock %}

{% block drawers %}
{% include "base/drawer_surah.html" %}
{% endblock %}

{% block content %}

{% if surah.ayahs.exists %}

{% include "base/main_content.html" %}

{% else %}
<div class="flex flex-col min-h-screen">
  <!-- Spacer for navbar -->
  <div class="h-16"></div>
<!-- Coming Soon Message -->
<div class="flex flex-col items-center justify-center flex-1 text-center py-20">
  <h1 class="text-2xl font-semibold text-base-content mb-3">
    This surah is currently being added
  </h1>
  <p class="text-base-content/70 text-lg">
    Coming soon, In shā’ Allāh
  </p>
</div>
{% endif %}
</div>


{% if scroll_to_ayah %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const el = document.getElementById("ayah-{{ scroll_to_ayah }}");
    if (el) {
      el.scrollIntoView({ behavior: "smooth", block: "center" });
      el.classList.add("ayah-highlight");
      setTimeout(() => {
        el.classList.remove("ayah-highlight");
      }, 2000);
    }
  });
</script>

{% endif %}
{% endblock %}