
<!-- content navigation section -->
<section class="mt-8 mb-16">
    <div class="max-w-6xl mx-auto px-4 ">
        <h2 class="text-3xl font-bold mb-8 text-center">All Surahs</h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
            {% for item in surah_data %}
            <!-- Surah Card -->
            <a href="{% url 'surah' %}"
                class="group w-full border border-transparent hover:border-primary transition duration-300 p-6 flex items-center justify-between bg-base-100 shadow-sm rounded-md hover:shadow-md">

                <!-- Left: Number + English -->
                <div class="flex items-center gap-4">
                    <!-- Surah Number -->
                    <div
                        class="w-12 h-12 flex items-center justify-center rounded-full border-2 border-primary text-sm font-bold text-primary bg-base-200 group-hover:bg-primary group-hover:text-base-100 transition duration-300">
                        {{ item.surah.surah_id }}
                    </div>
                    <div>
                        <div class="font-semibold text-lg group-hover:text-primary transition duration-300">{{ item.surah.en_name.title }}
                        </div>
                        <div class="text-xs text-gray-500 group-hover:text-primary/70 transition duration-300">
                            {{ item.surah.translated_name }}
                        </div>
                    </div>
                </div>

                <!-- Right: Arabic -->
                <div class="text-right">
                    <div class="surah-glyph font-semibold text-xl group-hover:text-primary transition duration-300">
                        {% if item.surah.surah_id == 0 %}
                        {{ item.surah.ar_name }}
                        {% else %}
                        {{ item.glyph }}
                        {% endif %}
                    
                    </div>
                    <div class="text-sm text-gray-500 group-hover:text-primary/70 transition duration-300">
                        {{ item.surah.verses_count }} Ayah{{ item.surah.verses_count|pluralize }}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>

