<!-- 📌 Main -->
<div class="flex flex-col min-h-screen">
    <!-- Spacer for navbar -->
    <div class="h-16"></div>

    <!-- Main -->
    <main class="flex-1 flex justify-center px-4 py-12">
        <div dir="rtl" class="max-w-3xl w-full leading-loose">
            <!-- Surah -->
            <section class="mb-10">
                <!-- Heading -->
                <h1 class="altarikh-text text-4xl font-bold text-center pt-12 pb-6 text-base-content">
                    إعراب البسملة
                </h1>
                <!-- Ayahs -->
                <div class="space-y-16">
                    <!-- Ayah -->
                    <article>
                        <!-- Ayah Heading -->
                        <h2 class="altarikh-text text-5xl font-semibold text-center pt-6 pb-12 text-base-content">
                            ﷽
                        </h2>
                        <!-- Ayah Parts 1-->
                        <div class="mt-8">
                            <p class="noto-text-small text-base-content/80 leading-relaxed relative">
                                <span class="altarikh-heading">بسم :</span>
                                الباء : حرف جر ، وقد اختلف العلماء حول تسميته۔ فهو حرف للاستعانة عند بعض منهم
                                ولدى بعضهم الآخر هو باء السببية. وسماه سيبويه باء الالصاق - ولم تيجوز غيرهم
                                اطلاق لفظ الاستعانة على الله عز وجل . وقيل : هو حرف جر زائد . أما ( اسم ) : فهو
                                اسم مجرور بالباء وعلامة جره الكسرة وهو مضاف واسقطت الف ( اسم ) اختصاراً من الخط
                                وهي ألف وصل ساقطة في اللفظ وسبب الاختصار أن أصل الكلمة كثر على ألسنة العرب عند
                                الأكل والشرب والقيام والقعود . وفي حالة ذكر اسم من اسماء الله تعالىٰ بعد اضافة (
                                اسم ) إليه لا تحذف الألف وذلك لقلة الاستعمال نحو: باسم الرّبّ . . . باسم العزيز
                                وتثبت الألف أيضاً في قولنا : لاسم الله وقعٌ كبير في نفوس المؤمنين باسم الرحمن ..
                                اقرأ باسم ربك الذي خلق . وسبه الجملة ( الجار والمجرور ) باسم : في محل نصب بفعل
                                مضــمر تقديره : أبدأ بسم الله .. أوفي محل رفع خبر مبتدً محذوف بتقدير : بدئي بسم
                                اللّٰه
                            </p>
                        </div>
                        <!-- Ayah Parts 2-->
                        <div class="mt-8">
                            <p class="noto-text-small text-base-content/80 leading-relaxed relative">
                                <span class="altarikh-heading">اللّٰه :</span>
                                لفظ
                                الجلالة :
                                مضاف إليه مجرور للتعظيم بالاضافة وعلامة الجرّ : الكسرة والأصل ( الإله )
                                فحذفت
                                الهمزة اختصارًا وأدغمت اللام في اللام فجاء التشديد
                                ّوقيل : الأصل : لاهُ . والألف للوصل . ولفظ الجلالة ( الله ) : اسم غير مشتـق
                                من
                                شيء بل هو علم اتصل به الألف واللام وذكر سيـبـويه أنّ أصله : إلاه فدخلت علبه
                                ( أل
                                ) فبقي الإله نم نقلت حركة الهمزة الى اللام
                                فستطت فبفي أللاه فأسكنت اللام الأولى وأدغمت وفخم تعظيماً ولكنه يـرقـق ( أي
                                تخفـّف اللام ) مع كسر ماقبله نحو : بالله العظيم . بفضل الله يهدي الله من
                                يشاء قل
                                الله
                            </p>
                        </div>
                        <!-- Ayah Parts 3-->
                        <div class="mt-8">
                            <p class="noto-text-small text-base-content/80 leading-relaxed relative">
                                <span class="altarikh-heading">الرحمن الرحيم:</span>
                                صفتان ( نعتان ) للفظ الجلالة ( الله ) مجروران مثله _ لأن الصفة تتبع الموصوف - وعلامة
                                جرّ هما . الكسرة الظاهرةّ وشددت الراء فيهما لقلب اللام راءً أوادغام اللام بالراء .
                                ولكون الراء فيهما حرفاً شمسيا . وقدّم ( الرّحمــٰن ) وهو الصفة الأولى عل (
                                الرّحيم ) وهو الصفة الثانية لأن الرحمن اسم خاص لله عز وجل و ( الرّحيـم ) اسم مشترك
                                يقال : هذا رجل رحيم ولا يقال - هذا رجل رحمن فقدّم الخاصّ على العامٌ لمنزلته وقيل :
                                ان الكلمتين ( الرّحمن الرّحيم ) : هما اسمان رقيقان احدهما أرق من الآخر وقيل (
                                الرحمـن
                                ) أمدح و ( الرحيـم ) أرقُ . وبالتالي فهما اسمان يفيدان المدح
                            </p>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </main>
</div>