{% extends "base/base.html" %}


{% block title %}Home - {{block.super}} {% endblock %}

{% block navbar %}
{% include "base/navbar_surah.html" %}
{% endblock %}


{% block drawers %}
{% include "base/drawer_home.html" %}
{% endblock %}



{% block content %}

<!-- 📌 Main -->
<div class="flex flex-col min-h-screen">
    <!-- Spacer for navbar -->
    <div class="h-16"></div>

    <!-- Main -->
    <main class="flex-1 flex justify-center px-4">
        <div dir="rtl" class="max-w-3xl w-full leading-loose">
            <!-- Surah -->
            <section class="mb-16">

                <!-- Heading -->
                <h1 class="altarikh-text text-4xl font-bold text-center pt-12 pb-6 text-base-content">
                    إعراب البسملة
                </h1>

                <!-- Ayahs -->
                {% for ayah in surah_data %}
                {% endfor %}
                <div class="space-y-16">
                    <!-- Ayah -->
                    <article>
                        <!-- Ayah Heading -->
                        {% for ayah in surah_data %}
                        <h2 class="altarikh-text text-5xl font-semibold text-center pt-6 pb-12 text-base-content">
                            {{ ayah.ayah_text }}
                        </h2>

                        <!-- Ayah Parts 1-->
                         {% for part in ayah.parts %}
                        <div class="mt-8">
                            <p class="noto-text-small text-base-content/80 leading-relaxed relative">
                                <span class="altarikh-heading">{{ part.text }}:</span>
                                {{ part.description }}
                                
                            </p>
                        </div>
                        {% endfor %}
                        {% endfor %}
                    </article>
                </div>
            </section>
        </div>
    </main>
</div>

{% endblock %}
